{% extends "base_generic.html" %}
{% block content %}

<div class="cohorts">
  <h1 class="title">Matching</h1>
  <div class="matches">

    {% if context_dict.test %}
            <ul>
              Test Values
                {% for value in context_dict.test %}
                <li>{{ value }}</li>
                {% endfor %}
            </ul>
    <!-- Above to be deleted once data is in place -->

    
    {% elif context_dict.mentee_list %}
    <p>Mentees</p>
            <ul>
              {% for mentee in context_dict.mentee_list %}
              <li>{{ mentee.name }}</li>
              {% endfor %}
            </ul>
    <p>Mentors</p>
    {% elif context_dict.mentor_list %}
          <ul>
            {% for mentor in context_dict.mentor_list %}
            <li>{{ mentor.name }}</li>
            {% endfor %}
          </ul>

        {% else %}
            <strong>There are no people present.</strong>
    {% endif %}

    <p><a href="{% url 'login' %}">Return to Home</a></p>
  </div>

</div>

{% endblock %}