{% extends "base_generic.html" %}

{% block sidebar %}
<a href="{% url 'create_cohort' %}">Add Cohort</a>
<a href="#">Criteria Settings</a>
{% endblock %}

{% block content %}

<div class="cohorts">
  <h1 class="title">All Cohorts</h1>
  {% for cohort in cohorts %}
  <div class="cohort">

  <a href="{% url 'show_matches' cohort.id %}">{{ cohort.title }}</a>

  <span>Last Updated {{ cohort.updated_on | date:"d/m/Y" }}</span>
  </div>

  {% empty %}

  No cohorts found.

  {% endfor %}
</div>

{% endblock %}
