{% extends "base_generic.html" %}


{% block sidebar %}
<a href="{% url 'show_matches' cohort.id %}">Matches</a>
<a href="{% url 'show_mentees' cohort.id %}">Mentees</a>
<a href="{% url 'show_mentors' cohort.id %}">Mentors</a>
<a href="{% url 'sorted_mentors' cohort.id mentee.id %}">Sorted Mentors</a>
<a href="#">Criteria Settings</a>
{% endblock %}

{% block content %}
<div class="mentees">
  <h1 class="title">Matches for Cohort {{ cohort.title }}</h1>
  {% if matches %}
  <table>
    <thead>
      <th>Mentor</th>
      <th>Mentee</th>
      <th>Status</th>
      <th>Approver</th>
    </thead>
    <tbody>
      {% for match in matches %}
      <tr>
        <td>{{ match.mentor }}</td>
        <td>{{ match.mentee }}</td>
        <td>{{ match.status }}</td>
        <td>{{ match.approver }}</td>
        <td>
          <form action="{% url 'delete_match' cohort.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="match_id" value="{{ match.id }}">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h2>No matches found.</h2>
  {% endif %}
  <a href="{% url 'new_match' cohort.id %}">Create a new Match</a>
  <a href="{% url 'export_matches' cohort.id %}">Export Matches</a>
</div>
{% endblock %}
