{% extends "base_generic.html" %}


{% block sidebar %}
<a href="{% url 'show_matches' cohort.id %}">Matches</a>
<a href="{% url 'show_mentees' cohort.id %}">Mentees</a>
<a href="{% url 'show_mentors' cohort.id %}">Mentors</a>
<a href="{% url 'sorted_mentors' cohort.id mentee.id %}">Sorted Mentors</a>
<a href="#">Criteria Settings</a>
{% endblock %}

{% block content %}
<div class="unmatched">
  <h1 class="title">Unmatched Candidates</h1>

  <div class="unmatched-form">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create Match</button>
    </form>
  </div>
</div>
{% endblock %}
