{% extends "base_generic.html" %}

{% block sidebar %}
<a href="{% url 'show_matches' cohort.id %}">Matches</a>
<a href="{% url 'show_mentees' cohort.id %}">Mentees</a>
<a href="{% url 'show_mentors' cohort.id %}">Mentors</a>
<a href="{% url 'sorted_mentors' cohort.id mentee.id %}">Sorted Mentors</a>
<a href="#">Criteria Settings</a>
{% endblock %}

{% block content %}
<div class="matches">
  <h1 class="title">{{ cohort.title }}</h1>

  <a href="{% url 'new_match' cohort.id %}">Create a new Match</a>

  {% if cohort.match_set.all %}
  <table>
    <thead>
      <th>Mentee</th>
      <th>Mentor</th>
      <th>Status</th>
      <th>Approver</th>
    </thead>
    <tbody>
      {% for match in cohort.match_set.all %}
      <tr>
        <td>{{ match.mentee.name }}</td>
        <td>{{ match.mentor.name }}</td>
        <td>{{ match.get_status_display }}</td>
        <td>{{ match.approver.username }}</td>
      </tr>
      {% empty %}
      No matches found.
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% endblock %}
