{% extends "base_generic.html" %}
{% block content %}

<div class="matches">
  <h1 class="title">{{ cohort.title }}</h1>

  <a href="{% url 'upload' cohort.id %}">Upload Mentors and Mentees</a>

  <table>
    <thead>
      <th>Mentee</th>
      <th>Mentor</th>
      <th>Status</th>
      <th>Approver</th>
    </thead>
    <tbody>
      {% for match in cohort.match_set.all %}
      <tr>
        <td>{{ match.mentee.name }}</td>
        <td>{{ match.mentor.name }}</td>
        <td>{{ match.get_status_display }}</td>
        <td>{{ match.approver.username }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
